/* ===== FULL SCREEN CENTER ===== */
.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertical */
  background: #f2f4f8;
}

/* ===== LOGIN BOX ===== */
.auth-box {
  width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #4338ca;
}

/* ===== SWITCH TEXT ===== */
.switch {
  margin-top: 12px;
  color: #4f46e5;
  cursor: pointer;
}
